p > code, li > code {
    padding: 0.1em 0.2em;
    color: #558;
    background-color: rgba(0,0,120,0.04);
    border: 1px solid rgba(0,0,120,0.08);
}
pre.source-code {
    padding: 0;
}
pre > code {
    padding: 12px;
    background-color: #f4f4f8;
    border-left: 4px solid #ccd;
    margin: 1em 0 2em 1em;
}
code.source-code {
    line-height: 1.5;
}
table.summary {
    margin-bottom: 2em;
}
.content .detail > h3 {
    background-color: rgba(0,0,120,0.04);
    padding: 0.25rem 0.5rem;
}
table.params thead {
    background-color: rgba(0,0,120,0.04);
    color: rgba(0,0,120,0.7);
}
table.summary thead {
    background-color: rgba(0,0,120,0.04);
    color: rgba(0,0,120,0.7);
}